.pageConteiner
{
    width: 100vw;
    height: 100vh;

    display: flex;
    
}

.buttonConteiner
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}